/* farver */
:root {
  --Mid-Green: #d1cf8b;
  --Tekst: #ffecbd;
  --Brown: #4c392a;
  --Dark-green: #5a6042; /* color for firgures */
  --Background: #feffe1;
  --Orange: #fca652;
}

/* ------------ Reset ------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: auto;
  display: block;
}

/* --------------------------------- */
nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--Dark-green);
  padding-top: 1%;
  padding-bottom: 1%;
}
.nav-btn {
  display: flex;
  gap: 10px;
  padding-right: 1%;
  height: min-content;
  align-self: center;
}
.contact-btn {
  background-color: var(--Brown);
  padding: 10px;
}
.tilbud-btn {
  padding: 10px;
}

h2 {
  color: var(--Brown);
}
h3 {
  color: var(--Brown);
}
body {
  background-color: var(--Background);
}

header,
footer {
  background-color: var(--Dark-green);
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #d1cf8b;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 300px));
  gap: 10px;
  justify-content: center;
  margin-inline: auto;
}
.tilbud {
  padding-top: 50px;
  padding-bottom: 20px;
  margin-left: 10%;
}
.tilbud-titel {
  padding-top: 20px;
  margin-left: 9%;
}
a {
  text-decoration: none;
  color: var(--Tekst);
  font-weight: 600;
}
p {
  color: var(--Brown);
}
.card-grid {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 10px;
  max-width: min-content;
}
@media (max-width: 800px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    max-width: 100%;
  }
}
