/* ------------ Reset ------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: auto;
  display: block;
}

/* --------------------------------- */

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 300px));
  gap: 10px;
  justify-content: center;
  margin-inline: auto;
}

@media (max-width: 750px) {
  .card-grid {
    grid-template-columns: minmax(0, 180px);
  }
}
