/* farver */
:root {
  --Mid-Green: #6acf6a;
  --Light-green: #25ff25;
  --Dark-green: #336633; /* color for firgures */
  --Background: #fff9e4;
  --Orange: #ffae2d;
}

/* ------------ Reset ------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: auto;
  display: block;
}

/* --------------------------------- */
nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--Dark-green);
  padding-top: 1%;
  padding-bottom: 1%;
}
.nav-btn {
  display: flex;
  gap: 10px;
  padding-right: 1%;
}
.contact-btn {
  background-color: var(--Orange);
  padding: 10px;
}
.tilbud-btn {
  padding: 10px;
}
body {
  background-color: var(--Background);
}

header,
footer {
  background-color: var(--Dark-green);
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 300px));
  gap: 10px;
  justify-content: center;
  margin-inline: auto;
}
.tilbud {
  padding-top: 50px;
  padding-bottom: 20px;
  margin-left: 10%;
}
.tilbud-titel {
  padding-top: 20px;
  margin-left: 9%;
}
a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
@media (max-width: 750px) {
  .card-grid {
    grid-template-columns: minmax(0, 180px);
  }
}
